body {
    margin: 0;
    padding: 0;
    background-color:whitesmoke;
 }
 
 main{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Outfit', sans-serif;
    font-family: 'Poppins', sans-serif;

    font-family: 'Rubik', sans-serif;
 }

 .hero {
    position: relative;
    width: 99vw;
    height: 100vh;
    flex-direction: column;
    display: flex;
    top: 0;
    left: 0;
    background: url(/css-challenge/images/hero.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    filter: brightness(60%);
    overflow:hidden;
 }

 .hero-content {
    font-family: "Monserrat", sans-serif;
    color: white;
    text-align: center;
    margin: 0.625rem;
 }
 .hero-title {
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 0;
    color: white;
 }
 .hero-subtitle {
    font-size: 2rem;
    font-weight:100;
    margin-top: 1rem;
 }
 .hero-buttons {
    background-color:transparent;
    color: white;
    margin-top: 5rem;
    font-family: "Monserrat", sans-serif;
    font-size: 1.125rem;
    font-weight: 200;
    cursor: pointer;
 }

 .hero-buttons> .get-quote {
    border-radius: 30px;
    background-color: rgb(15, 35, 150);
    padding: 14px 40px;

}

.hero-buttons> .learn-more {
    padding: 14px 40px;
    border-radius: 30px;


    
}


header{
    width: 100%;
}
nav{
    display: flex;
    justify-content: space-between;
    color: white;
    align-items: center;
    width: 100%;
    
}

.menu{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 60%;


}

.menu> ul{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 70px;
    justify-content: space-around;

}

.menu ul li a{
    text-decoration: none;
    color: white;


}

.buttons {
    display: flex;
    align-items: center;
    width: 20%;
    gap: 30px;
}
.buttons> button{
    background-color: blue;
    border-radius: 5px;
    color: white;

    border: none;
    padding:10px 20px;
    outline: none;
}




.flex-boxes{
    display: flex;
    background-color:whitesmoke;
    width: 100%;
    gap: 20px;
    display: flex;
    justify-content: center;

    height: 30vh;
}


.box{
    background-color: white;
    margin-top: -80px;
    justify-content: center;  
    height: 60%;
    z-index: 100;
    border: 1.5px yellow;
    padding: 20px;
    display: flex;
    flex-direction: column;
    
    
}


.flex-boxes :hover{

background-color: blue;
color: white;
}



.svgs{
    display: flex;
    background-color: whitesmoke;
    height: 30vh;
    width: 100%;
    gap: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.svg{
    justify-content: center;  
    height: 40%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    
}







.industry {
    display: flex;
    background-color: whitesmoke;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: 30px 0;
    
}

 .industry-title {
    font-size: 3rem;
    font-weight: 400;
    color: blackwhite;
    display: flex;
    color: black;
    text-align: center;
 }
 .industry-subtitle {
    font-size: 18px;
    font-weight:100;
    align-items: center;
    text-align: center;
 }

.indu-boxes{
    display: flex;
    width: 100%;
    gap: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

}


.box1{
    background-color:white;
    justify-content: center;  
    width: 300px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}






.company-images{
    display: flex;
    background-color:whitesmoke;
    height: 20vh;
    width: 100%;
    gap: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;

}

.icon> img{
    color: blue;
    fill: blue;
}




.pricing {
    display: flex;
    background-color: whitesmoke;
    margin-top: 30px;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    
}

 .pricing-title {
    font-size: 3rem;
    font-weight: 400;
    margin-bottom: 0;
    color: blackwhite;
    display: flex;
    color: black;
    text-align: center;
 }
 .pricing-subtitle {
    font-size: 18px;
    font-weight:100;
    
    align-items: center;
    text-align: center;
 }





.offers {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 100vh;
    padding: 20px;
    background-color: whitesmoke;
    overflow: hidden;
  }
  
  .free {
    border: 1px solid rgb(0, 174, 255);
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    height: 600px;
    padding: 20px;
    border-radius: 5px;
  }
  
  .free:hover {
    background-color: #252b42;
    color: white;
    padding: 20px;
    height: 650px;
    cursor: pointer;
  }
  
  .superscript {
    font-size: 15px;
    font-weight: 300;
  }
  .amount {
    color: blue;
  }
  
  .amount > h2 {
    font-size: 40px;
    font-weight: 500;
  }
  .subscript {
    font-size: 15px;
    font-weight: 300;
  }
  
  .free > p {
    font-size: 15px;
  }
  .free > button {
    width: 100%;
    background-color: blue;
    color: white;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 5px;
  }
  
  .premium > button {
    width: 100%;
    background-color: var(--primary-color);
    color: white;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 5px;
  }
  .package > p {
    display: flex;
    gap: 10px;
    margin-top: 10px;
  }
  .standard {
    background-color: #252b42;
    color: white;
    padding: 20px;
    height: 550px;
  }
  
  .standard > p {
    font-size: 15px;
  }
  .standard > button {
    width: 100%;
    background-color: var(--primary-color);
    color: white;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 5px;
  }
  
  .premium > p {
    font-size: 15px;
  }
  


.world-map {
    width: 100%;
    height: 80vh;
    display: flex;
    background-color:rgb(37, 43, 66);
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    overflow:hidden;
 }

 .image{

    margin-top: 40px;

   
    
 }

 .world-content {
    font-family: "Monserrat", sans-serif;
    color: white;
    margin: 0.625rem;
    display: flex;
    height: 500px;
    background-color:rgb(37, 43, 66);
    width: 100%;
    justify-content: center;
    gap: 40px;
    
    
 }
 .world-title {
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 0;
    color: white;
 }
 .world-subtitle {
    font-size: 2rem;
    font-weight:100;
    margin-top: 1rem;
 }



 .half-sized-box{
    display: flex;
    height: 500px;
    width: 100%;
    gap: 20px;
    display: flex;
    justify-content: center;
    align-items: center;


 }



.contact-us {
    margin-top: -20%;
    background-color: white;
    justify-content: center;  
    height: 600px;
    width: 40%;
    display: flex;
}

.contact-form{
    padding: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: white;

}

.contact-form> h4 {
    text-align: center;
    ;

}




.input-holder{
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
    

}

.input-holder> input{
    border: none;
    outline: none;
    background-color: whitesmoke;
    padding: 20px;
    
}
.info{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 90px;
    

}

.btn{
    text-align: center;
    background-color: lightblue!important;
    color: white;
    padding: 20px;
    border: none;
    outline: none;
}

.boxx{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: whitesmoke;
    margin-top: 50px;


}

.subscribe {
    background: linear-gradient(to right, #1d2671, #c33764);
    width: 60%;
    display: flex;
    align-items: center;
    padding: 20px;
    justify-content: space-between;
    color: white;

}


.input-holder2> input{
    padding: 15px 30px;
    border-radius: 5px 0 0 5px;
}


.input-holder2> .sub-button{
    background-color: blue;
    padding: 14px;
    border: none;
    color: white;
    border-radius: 0 5px 5px 0;
    outline: 1px solid white;
    margin-left: -10px;

}


.label {
    font-size: 18px;
    margin-bottom: 10px;
}

.textbox {
    width: 300px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
}

.footer{
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 30px;
}




@media screen and (max-width:600px){
    .flex-boxes{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 70vh;
    }
    .box{
        width: 90%;
        margin-top: 15px;
    }
}