

body{
    background-color: white;
    margin: 0 30px;
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Outfit', sans-serif;;
    font-family: 'Outfit', sans-serif; 
    font-family: 'Poppins', sans-serif; 

}



header {
    background-color: white;
    color: #fff;
    padding: 10px 0;
    display: flex;
    align-items: center;
    margin-bottom: 3px gray;
    
}

.nav {
    display: flex;
    width: 100%;
    padding: 0 20px;
    margin-bottom: 5px none;
    
}

.logo  {
    font-size: 24px;
    margin-left: 50px;
    font-weight: bold;
    margin-left: 20px;
    
}

.menu ul {
    list-style: none;
    display: flex;
    gap: 30px;
    align-items: center;

}

.nav-items {
    display: flex;
    align-items: center;
    width: 80%;
    gap: 40px;
    margin: 0 40px;
}


.menu a {
    color: gray;
    text-decoration: none;
    float: left;
    align-items: center;
    
}

.icons {
    align-items: flex-end;
    justify-content: flex-end;
    }

.icons i {
    font-size: 10px;
    color: #fff;
}

main {
    padding: 50px;
    height: 60vh;
    display: flex;
    background-color: white;
    margin-left: 70px;
    justify-content: center;
    padding: 20px;
    margin-right: 70px;
    display: flex;
    justify-content: space-between;
}


.product-grid {
    display: grid;

}

.main-product {
    grid-column: 1 / span 2; 
    width: 100px;
    margin-left: 50px;
    border-radius: 5px;

}

.main-product>img {
    border-radius: 20px;
    margin-left: 20px;
}


.small-product {
    border: 1px solid none;
    padding: 10px;
    justify-content: space-between;
    flex: 1;
    margin-left: 40px;
    border-radius: 5px;
    margin-top: 5px;
}

.small-product>img {
    border-radius: 20px;
    justify-content: space-between;
    padding: 5px;

}


.product-details {
    margin-top: 100px;
    align-items: center;
    margin-left: 60x;
    margin-right: 10px;
}

.product-details h3{
    color: #666;
}

.product-details h2 {
    font-size: 20px;
    margin-top: 20px;
}

.product-details p {
    font-size: 16px;
    color: #666;
    margin-top: 10px;
}


.product-icons i {
    font-size: 24px;
    margin-top: 10px;
}





.button {
    color: rgb(255, 69, 0);
    justify-content: flex-end;

}